.container {
  border: solid 1px black;
  height: 20vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 80vw;
}

.container > .scrollWrapper {
  height: 100%;
  width: 100%;
  overflow-x: scroll;
}

.scrollWrapper > .secretScroll {
  height: 100%;
  width: fit-content;
  flex-flow: row nowrap;
  display: flex;
}

.secretScroll > .secretSection {
  height: 100%;
  width: 40vw;
  position: relative;
}
